/* NICE CSS */
/* here we build new stuff ontop of the old stuff */

/* bootstrap breakpoints
1200px
992px
768px */

/* brand colors
yellow: #ffda00
Yellow: #fbde4c;
black: #000000
*/

/* .build-border-red {border: solid red 1px;}
.build-border-yellow {border: solid yellow 1px;}
.build-border-blue {border: solid blue 1px;} */

.no-padd {padding:0;}
.yellow {color: #ffda00;}
.col-centered {float:none; margin: 0 auto; display:inline-block; text-align:left; vertical-align:top;}
.col-centered-resp {float:none; margin: 0 auto; display:inline-block; text-align:left; vertical-align:top;}
@media (max-width: 991px) {
  .col-centered-resp {float:none; margin: 0 auto; display:inline-block; text-align:center; vertical-align:top;}
}
.row-centered {text-align: center; }

.type-page {
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: 0;
    border: none;
}

body {
  background-image: url(../images/furley_bg.png);
  background-repeat: repeat;
}
.furley-bg {
  background-image: url(../images/furley_bg.png);
  background-repeat: repeat;
}

h1.text-hero {}
h1.headline {
  /*color: #555555; margin-top: 0.5rem;*/
  font-family: 'proxima-nova', helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #225078;
  line-height: 1.1;
}
h1.headline a {color: #225078;}
h1.headline a:hover {text-decoration: underline; text-decoration-color: #ffda00;}
h1.headline.csb-brand {
  /*font-weight: 700; color: #000;*/
  font-family: 'proxima-nova', Helvetica, sans-serif;
  color: #000;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 1.1;
  position: relative;
  top: 7px;
}
@media (max-width: 1150px) {
  h1.headline.csb-brand {font-size: 2vw;}
}

.logo-csb-brand {
  width: 410px;
  margin-top: 21px;
  padding: 1px;
  position: relative;
  left: -30px;
  font-family: 'InformaW01SC-MediumCond', Helvetica, sans-serif;
}
@media (max-width: 1215px) {
  .logo-csb-brand {width: 240px; margin-top: 30px; padding: 1px;}
}

.mobile-blog-csb-brand {display: none;}

@media (max-width: 991px) {
.mobile-blog-csb-brand {
    width: 240px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    margin: 0 auto;
  }
  .mobile-blog-csb-brand img {width:100%;}
  .mobile-blog-csb-brand img.logo-csb-brand {margin:0; margin-top:15px;}
}

@media (max-width: 800px) {
  .mobile-blog-csb-brand { left: 34%; }
}
@media (max-width: 540px) {
  .mobile-blog-csb-brand { display: none;}
}


.p-y-t-2 {
  padding-top: 1.5rem!important;
  padding-bottom: 0!important;
}

.m-y-1-resp {margin-top: 1rem; margin-bottom: 1rem;}
@media (max-width: 990px) {
  .m-y-1-resp {margin-top: 0; margin-bottom:0;}
}

.no-pad-resp {padding: auto;}
@media (max-width: 990px) {
  .no-pad-resp {padding-left:0!important; padding-right:0!important;}
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 990px) {
    .row-eq-height {display: block;}
}

body.blog-post #nice-blog-home-top {
  /*min-height: 130px;*/
}


.nice-max-width {max-width:1200px; margin: 0 auto; display: block;}

@media (max-width: 991px) {
.pa-tweed-bar.blog-bar, .pa-blue-bar.blog-bar {background: none;}
}

#nice-blog-home-top {
  min-height: 162px;
  position: relative;
}
@media (max-width: 991px) {
  #nice-blog-home-top {min-height: 0; margin-top: 100px; display: block;}
}
@media (max-width: 991px) {
  #nice-blog-home-top {margin-top: 120px;}
}
@media (max-width: 494px) {
  #nice-blog-home-top {margin-top: 150px;}
}
@media (max-width: 430px) {
  #nice-blog-home-top {margin-top: 180px;}
}

#nice-page-top {min-height: 32px;
  margin: 0;
  margin-right:0;
}


a.nice-blog-home-link {
  color: #373736;
  margin-right: 12px;
  font-size: 12px;
  float: right;
  position: relative;
  top: 34px;
}
a.nice-blog-home-link:hover {text-decoration: underline; text-decoration-color: #ffda00;}

.nice-fixed-brand {
  border-bottom: solid 1px #ccc;
  height: 80px;
  /*position: fixed;*/
  position: relative;
  top:0;
  /*background: #fff;*/
  z-index: 10;
  background-image: url(../images/furley_bg.png);
  background-repeat: repeat;
}
.nice-fixed-brand.no-line {border-bottom: none;}

@media (max-width: 991px) {
    .nice-fixed-brand {display: none;}
}

.logo-blog {
  width: 130px;
  position: relative;
  top: 12px;
}

.nice-blog-title {
  display: block;
  position: absolute;
  bottom: 0;
  border-bottom: solid 1px #ccc;
}
@media (max-width: 991px) {
    .nice-blog-title {
      width: 100%;
      border-bottom: 0;
      /* border: solid red 1px; */
      /* top: 40px; */
    }
}
@media (max-width: 494px) {
    .nice-blog-title {
      /* top: -72px; */
    }
}


.nice-blog-three-row {border: solid red 1px;}

ul.nice-blog-home-cats {
  text-align: center;
  padding-left: 0;
  font-size: 14px;
  margin-bottom: 20px;
}
@media (max-width: 680px) {
ul.nice-blog-home-cats {
  font-size: 12px;
  }
}
@media (min-width: 1546px) {
ul.nice-blog-home-cats {
  margin-bottom: 30px;
  }
}
ul.nice-blog-home-cats li.cat-item {
  display: inline-block;
  margin-right: 0;
  padding-right: 0;
}
ul.nice-blog-home-cats li.cat-item::after {
  color: #ffda00;
  content: "///";
}

ul.nice-blog-home-cats li.cat-item:last-of-type::after {content: "";}
ul.nice-blog-home-cats li.cat-item a {
  color: #555555;
  font-weight: 300;
  text-transform: uppercase;
}
ul.nice-blog-home-cats li.cat-item a:hover {text-decoration: underline; text-decoration-color: #ffda00;}

ul.nice-blog-home-cats li.cat-item.current-cat {text-decoration: underline}
ul.nice-blog-home-cats li.cat-item.current-cat a {font-weight: 400}

body.blog-post ul.nice-blog-home-cats {
  text-align: center;
  max-width: 600px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}
@media (max-width: 680px) {
  body.blog-post ul.nice-blog-home-cats {
  max-width: 470px;
  }
}
@media (max-width: 510px) {
  body.blog-post ul.nice-blog-home-cats {
  max-width: 400px;
  }
}
body.blog-post ul.nice-blog-home-cats li.cat-item a {
  font-weight: 300; color: #000;
  text-transform: uppercase;
}

body.blog-post h1.nice-perm-h1, body.blog-post h1, body.blog-post h2, body.blog-post h3 {
  font-family: 'proxima-nova', helvetica, sans-serif;
  font-weight: 100;
  font-size: 30px;
  color: #225078;
  line-height: 1.1;
}
body.blog-post h1.nice-perm-h1 {font-weight: 500;}
body.blog-post h1 {font-size: 22px; font-weight: 100;}
body.blog-post h1 strong, body.blog-post h1 b {font-size: 22px; font-weight: 100;}
body.blog-post h2 {font-size: 22px; font-weight: 100;}
body.blog-post h2 strong, body.blog-post h2 b {font-size: 22px; font-weight: 100;}
body.blog-post h3 {font-size: 22px; font-weight: 100;}
body.blog-post h3 strong, body.blog-post h3 b {font-size: 22px; font-weight: 100;}


body.blog-post .pa-post-content {opacity:1; max-width: 700px; margin:20px auto;}

body.blog-post .byline a {color: #555555; font-weight: 400;}
body.blog-post .byline a:hover {text-decoration:underline; text-decoration-color: #ffda00;}

body.blog-post .page-content a {color: #000; text-decoration:underline; text-decoration-color: #000;}
body.blog-post .page-content a:hover {text-decoration-color: #ffda00;}

body.blog-post .entry-content p,
body.blog-post .page-content p,
body.blog-post .page-content ul li
{
    color: #555555;
    font-size: 17px;
}

body.blog-post article {position:relative;}
body.blog-post .post-share {
  position: absolute;
  display:inline-block;
  left: 720px;
  top: 130px;
}

body.blog-post .post-share .social-share {display: block;}
body.blog-post .post-share .social-share {width:32px; margin-bottom: 10px;}
body.blog-post .post-share .social-share a {opacity: 0.3;}
body.blog-post .post-share .social-share a:hover {
	opacity: 0.8;
}

body.blog-post .blog-tag a {display: inline-block; padding-left: 6px; padding-right: 6px; background: #dedede; text-decoration: none;}

body.blog-post hr.blog-break {border-top: 1px solid #ccc;}

.nice-blog-home-cat-single, .nice-bio-home-cat-single {
  font-weight: 300;
  color: #555555;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.nice-blog-home-cat-single a, .nice-bio-home-cat-single a {color:#555555;}
.nice-blog-home-cat-single a:hover, .nice-bio-home-cat-single a:hover {text-decoration:underline; text-decoration-color: #ffda00;}
.nice-bio-home-cat-single a {color: #efefef;}

body#category .post-excerpt,
body#tag .post-excerpt,
body#blog .post-excerpt
  {background: none; margin:0; padding:0;}

body#category .entry-content,
body#blog .entry-content
  {margin:0; padding:0;}

body#category .custom-excerpt a,
body#tag .custom-excerpt a,
body#blog .custom-excerpt a
  {color: #555555;}

body#category .custom-excerpt a:hover,
body#tag .custom-excerpt a:hover,
body#blog .custom-excerpt a:hover
  {text-decoration: underline; text-decoration-color: #ffda00;}

body#category .excerpt-read-more,
body#tag .excerpt-read-more,
body#blog .excerpt-read-more
  {display: none;}

body#blog article.post-excerpt {  /*border:solid red 1px;*/ }
body#blog .middle-cols { /*border: solid yellow 1px; */}

body#category .middle-cols img,
body#tag .middle-cols img,
body#blog .middle-cols img
  {width:100%;}

body#category .middle-cols h1,
body#blog .middle-cols h1
  {font-size: 24px;}

body#category .middle-cols:nth-of-type(2),
body#blog .middle-cols:nth-of-type(2)
  {border-right: solid #ccc 1px; border-left: solid #ccc 1px;}
@media (max-width: 991px) {
  body#category .middle-cols:nth-of-type(2),
  body#blog .middle-cols:nth-of-type(2)
    {border-right:none; border-left: none;}
}


body#category .bottom-cols h1,
body#tag .bottom-cols h1,
body#blog .bottom-cols h1 {font-size: 16px;}
@media (max-width: 991px) {
  #bios-blog .bottom-cols h1,
  body#category .bottom-cols h1,
  body#blog .bottom-cols h1
    {font-size: 24px;}
}

#bios-blog .bottom-cols h1 {line-height: 12px!important;}
#bios-blog .bottom-cols h1 a {color:#e3e3e3; font-size: 12px; line-height: 12px!important;}
@media (max-width: 991px) {
  #bios-blog .bottom-cols h1 a {color:#000; font-size: 18px; line-height: 18px!important; text-align: center;}
}
#bios-blog {
    background-image: url(../images/tweed-large.png);
    background-repeat: repeat-x;
  }
@media (max-width: 991px) {
  #bios-blog {background-image: none;}
}

#bios-blog .bottom-cols img,
body#category .bottom-cols img,
body#tag .bottom-cols img,
body#blog .bottom-cols img
  {width:100%;}
body#category .bottom-cols,
body#tag .bottom-cols,
body#blog .bottom-cols
  {border-right: solid #ccc 1px;}
@media (max-width: 991px) {
  #bios-blog .bottom-cols,
  body#category .bottom-cols,
  body#tag .bottom-cols,
  body#blog .bottom-cols
    {border-right:none;}
}

body#category .bottom-cols:nth-of-type(10),
body#blog .bottom-cols:nth-of-type(10)
  {border-right: none;}

body#category .menu-nav-2015-bottom-div a,
body#blog .menu-nav-2015-bottom-div a,
body.blog-post .menu-nav-2015-bottom-div a
  {color:#000;}

body#category .post,
body#blog .post
  {-webkit-box-shadow: 0; box-shadow: none;}

body#category .custom-excerpt,
body#blog .custom-excerpt
  {color: #555555}

@media (max-width: 991px) {
  .line-stylin-break {
     border-bottom: solid #ccc 1px;
     margin:2rem auto;
     width: 98%;
     display: block;
     position: relative;
     margin-bottom: 3rem;
  }
}

.no-margin {margin-left:0!important; margin-right:0!important;}

.blog-home-cats {margin-left: -10px;}
.blog-home-cat {display: inline-block; padding-left: 10px; font-size: 12px;}
.blog-home-cat a {color: #808080;}

.line-stylin {border-bottom: solid #ccc 1px; width: 100%; display: block; position: relative;}

.blog-foot::before {
      box-sizing: content-box;
      content: '';
      display: block;
      border-top: 2px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
      height: 1px;
      margin: 15px 0;
      background-color: #fff;
      margin-top: 0;
      margin-bottom: 9px;
}

.nice-page-foot, .blog-foot {
  width: 100%; min-height: 80px; height: 100%;
  background-image: url(../images/tweed.png);
  background-repeat: repeat;
}
.nice-page-foot p a, .nice-page-foot p, .blog-foot p a, .blog-foot p {color: #999; font-size: 12px;}
.nice-page-foot p a, .blog-foot p a {text-decoration: underline;}
.nice-pagination {text-align: center;}

/* Toggle Styles */

#tog-wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-width: 340px;
    /* border: solid pink 1px; */
}

#tog-wrapper.toggled {
    /*padding-left: 250px;*/
}
#tog-wrapper.minwid {
  min-width: 1260px;
}

#tog-sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#tog-wrapper.toggled #tog-sidebar-wrapper {
    width: 0;
}

#tog-page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#tog-wrapper.toggled #tog-page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#tog-wrapper.toggled .pa-fixed-height {
  left:-250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#tog-wrapper .pa-fixed-height {
  left:0px;
  width: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tog-menu-toggle {
  background: url('../images/icon-nav-hamburger-close.png') no-repeat center center;
  width:35px;
  height:30px;
  display: inline-block;
  position: relative;
  top: 22px;
  left:-7px;
  z-index:20;
}
#tog-wrapper.toggled .tog-menu-toggle {
  background: url('../images/icon-nav-hamburger.png') no-repeat center center;
}

/* blog search */

.nice-blog-search input {
  border: solid 1px #ccc;
  width:120px!important;
  height: 20px;
  border-radius: 0;
}
.nice-blog-search .input-group-btn {
  height: 20px!important;
  width: auto;
}
.nice-blog-search button {
    border: none;
    background: none;
    height: 22px;
    width: 20px;
  }
.nice-blog-search.pa-main-search-div {margin:0;}
.nice-blog-search .glyphicon {top:-2px; font-size: 12px;}
.nice-blog-search .form-control {font-size:11px;}

.nice-blog-search-wrap {
  display: inline-block;
  float:right;
  position: relative;
  top: 30px;
}
.nice-blog-search .form-control {
padding-top: 7px;
padding-left: 35px;
}

/* Sidebar Styles */

.tog-sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {

    #tog-wrapper {
        padding-left: 250px;
    }

    #tog-wrapper.toggled {
        padding-left: 0;
    }

    #tog-sidebar-wrapper {
        width: 250px;
    }

    #tog-wrapper.toggled #tog-sidebar-wrapper {
        width: 0;
    }

    #tog-page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #tog-wrapper.toggled #tog-page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Random fixes */

@media (min-width: 1250px) and (max-width: 1305px) {
  .video-page-fix {min-width: 660px;}
}

@media (min-width: 1644px) and (max-width: 1714px) {
  .video-page-fix {min-width: 840px;}
}

/* ------------------------
ATTY BIOS REBUILD April 27th 2018   */

.bios-cont {}
@media (max-width: 767px) {
  .bios-cont {width:80%!important;}
}

.center-solid-bg-line {
  background-image: url(../images/bg-center-line.gif);
  background-repeat: repeat-y;
  background-position: center;
  border-bottom: 3px #7d7d7d solid;
  max-width: 940px;
  margin: 0 auto;
}


.bios-page-bg, .bios-top-bg {
  min-height: 420px;
  background-position: 0 340px;
  background-image: url(../images/tweed-large.png);
  background-repeat: repeat-x;
}
.bios-page-bg {
  min-height: auto;
  background-position: 0 0;
  background-repeat: repeat;
  padding-bottom: 20px;
}

.bios-headshot-circle {
  width: 390px;
  margin: 0 auto;
  display: block;
}
@media (max-width: 767px) {
  .bios-headshot-circle {
  width: 100%;
  max-width: 390px;
  }
}
@media (max-width: 420px) {
  .bios-headshot-circle {
    margin-bottom:90px;
  }
}

.bios-detail-pix-cont {height:100%;}
@media (max-width: 991px) {
  .bios-detail-pix-cont {text-align: center;}
}
.bios-detail-pix {
  height: auto;
  object-fit: scale-down;
  border-radius: 0;
  border: solid 2px #c0c0c0;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: 2s;
}
.bios-detail-pix.small {width: 144px;}
.bios-detail-pix-cont.right > .bios-detail-pix {margin-right: 15px;}
.bios-detail-pix-cont.right > .bios-detail-pix:nth-of-type(3) {margin-top: 15px;}
.bios-detail-pix-cont.right > .bios-detail-pix:nth-of-type(4) {margin-top: 15px;}
.bios-detail-pix-cont.left > .bios-detail-pix:nth-of-type(2) {margin-right: 15px;}
@media (max-width: 992px) {
  .bios-detail-pix-cont.left > .bios-detail-pix {margin-right: 15px;}
}
@media (max-width: 768px) {
  .bios-detail-pix.small {max-width: 300px; width: 100%;}
  .bios-detail-pix-cont.right > .bios-detail-pix {margin-right: 0; margin-top: 40px;}
  .bios-detail-pix-cont.right > .bios-detail-pix:nth-of-type(2) {margin-right: 0; margin-top: 40px;}
  .bios-detail-pix-cont.right > .bios-detail-pix:nth-of-type(3) {margin-top: 0; margin-top: 40px;}
  .bios-detail-pix-cont.right > .bios-detail-pix:nth-of-type(4) {margin-top: 0; margin-top: 40px;}
  .bios-detail-pix-cont.left > .bios-detail-pix {margin-right: 0; margin-top: 40px;}
  .bios-detail-pix-cont.left > .bios-detail-pix:nth-of-type(2) {margin-right: 0; margin-top: 40px;}
}

.bios-detail-pix:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.bios-detail-pix.f-right {float:right;}
@media (max-width: 991px) {
  .bios-detail-pix.f-right {float:none;}
}

h1.bios-quote {font-size: 30px; display: block; top: -60px; position: relative; text-align: center;}
@media (max-width: 991px) {
  h1.bios-quote {font-size: 20px; top: -70px;;}
}
@media (max-width: 767px) {
  h1.bios-quote {font-size: 26px; color: white; top: auto;}
}
h1.bios-quote.bios-quote-smaller {font-size: 20px;}

h2.bios-white {color: black; font-size: 32px; font-weight:400; display: block; text-align: center; text-transform: uppercase; margin-top: 0; margin-bottom: 0;}
h3.bios-white {color: black; font-size: 20px; font-weight:300; display: block; text-align: center; text-transform: uppercase; margin-top: 0; margin-bottom: 20px;}
h3.bios-white a {color:black;}
h3.bios-white a:hover {color:black; text-decoration: underline;}

.gold-tile-resp {padding-right: 15px;}
@media (max-width: 767px) {
  .gold-tile-resp {padding: 0;}
}

.gold-tile {
  background: white;
  background-image: url(../images/furley_bg.png);
  border: solid 2px #ffda00;
  width: 100%;
  padding: 15px;
}
@media (max-width: 991px) {
  .gold-tile {
  text-align: center;
  }
}

.gold-tile.left {margin-right: 20px;}
@media (max-width: 767px) {
  .gold-tile.left {margin-right: 0;}
}

.gold-tile h3 {font-size: 20px; font-weight:500; text-transform: uppercase; margin: 0; padding: 0;}
.gold-tile h3 {margin-bottom: 2%;}
.gold-tile h3:nth-of-type(2) {margin-top: 6px;}
.gold-tile ul, .gold-tile li, .gold-tile p {font-size: 16px; font-weight:500;}
.gold-tile li {margin-bottom: 2%; list-style-position: inside; text-indent: -1.3em; margin-left: 1.3em;}

.gold-tile ul {padding-left: 0px;}

#bios-blog {padding-top: 20px;}

.merger-bio-announce p {font-size: 24px; color: #ffffff; padding: 40px 0;}

P.sidenav {padding-left: 10px; padding-top: 10px;}

.merger-service-announce p {font-size: 30px; line-height: 34px; color: #225078; padding: 20px 0; font-family: 'proxima-nova', helvetica, sans-serif; font-weight: 100;}

.merger-service-announce {border-bottom: 1px solid #225078; margin-bottom: 20px;}